<div class="container-fluid">
    <div class="container d-flex justify-content-center align-items-center">
        <div id="ipad">
            <div class="screen1">
                <div id="screen">
                    <div class="information">
                        <div class="ipad-top pt-3 d-flex flex-row justify-content-between">
                            <div class="exit">
                                <i class="fas fa-chevron-left ps-3 text-primary" [routerLink]="['/']"
                                    routerLinkActive="active"></i>
                            </div>
                            <div class="title">
                                <p class="text-white">
                                    Projects & works
                                </p>
                            </div>
                            <div class="set">
                                <div class="wifi">
                                    <i class="fa-sharp fa-solid fa-wifi text-white pe-1"></i>
                                </div>
                                <p class="text-white">80%</p>
                                <div class="buttery">
                                    <i class="fa-solid fa-battery-three-quarters text-white ps-1 pe-3"></i>
                                </div>
                            </div>
                        </div>
                        <div class="description px-4 mt-4">
                            <h3>Come and discover my latest projects!</h3>
                            <hr class="mt-4">
                            <p class="mt-4">
                                As a developer, I like to actively contribute to the open-source community and share my
                                knowledge with others. In my portfolio, I dedicated a section to my projects hosted on
                                github. These projects represent only part of my work, as I continue to work on new
                                projects and contribute to existing ones.
                                If you would like to take a look at my code, I will be happy to receive your comments
                                and feedback. Also, do not hesitate to contact me if you have any questions or wish to
                                discuss any future projects. My full github profile is available on my portfolio.
                            </p>
                            <div class="project d-flex justify-content-center">
                                <a href="https://github.com/FlavioCir?tab=repositories" target="_blank">
                                    <button type="button">My Github</button>
                                </a>
                            </div>
                            <hr class="mt-4">
                            <h4 class="mt-4">My favorite projects</h4>
                            <div class="project mt-4 mb-4">
                                <div class="row mb-3">
                                    <div class="col col-lg-6 mb-3 mb-md-3 mb-sm-3 mb-lg-0 d-flex justify-content-center">
                                        <div class="card" style="width: 50rem;">
                                            <div class="card-header fw-semibold fs-5">Capstone Project</div>
                                            <img src="../../../assets/img/capstone_project.jpg" class="card-img-top rounded-0" alt="capstone_project">
                                            <div class="card-body">
                                                <p class="card-text">For the final project of the course Epicode, I created an e-commerce that gives the opportunity to all dealers to sell the bikes they have. You can bookmark the ad and contact the seller. The dealer has the possibility to create ads, edit/delete their own and respond to a possible message from the user. There is also a public part of the site where the non-logged-in user can only view posts, apply filters and view post details.</p>
                                                </div>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/FlavioCir/Capstone_Project" class="botton" target="_blank">View the code</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-6 d-flex justify-content-center">
                                        <div class="card" style="width: 50rem;">
                                            <div class="card-header fw-semibold fs-5">Epicode Project - Build Week 3</div>
                                            <img src="../../../assets/img/build_week_3_FE.jpg" class="card-img-top rounded-0" alt="build_week_2">
                                            <div class="card-body">
                                                <p class="card-text">The latest project Epicode in team is a clone of GialloZafferano. Through the navbar you can navigate to the vaire recipes divided into categories. By logging in you can also add, edit and delete recipes. You can also view recipe details with various steps.</p>
                                                </div>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/FlavioCir/BuildWeek-3" class="botton" target="_blank">View the code</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col col-lg-6 mb-3 mb-md-3 mb-sm-3 mb-lg-0 d-flex justify-content-center">
                                        <div class="card" style="width: 50rem;">
                                            <div class="card-header fw-semibold fs-5">Epicode Project - Netflix clone</div>
                                            <img src="../../../assets/img/clone_netflix.jpg" class="card-img-top rounded-0" alt="clone_netflix">
                                            <div class="card-body">
                                                <p class="card-text">The 11th Epicode project of the week was about creating a Netflix clone, with a fully functional login and registration form. To ensure the security of users' accounts, a password interceptor was used. In addition, a guard has been included that blocks access to the homepage for unauthenticated users. Finally, it was possible to make the 'likes' related to the user, even after the logout.</p>
                                                </div>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/FlavioCir/Esercizio-Settimana-11" class="botton" target="_blank">View the code</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-6 d-flex justify-content-center">
                                        <div class="card" style="width: 50rem;">
                                            <div class="card-header fw-semibold fs-5">Epicode Projec - Build Week 2</div>
                                            <img src="../../../assets/img/build_week_2_FE.jpg" class="card-img-top rounded-0" alt="build_week_2">
                                            <div class="card-body">
                                                <p class="card-text">For the second project in team we created an e-commerce of shoes, precisely Jordan. The products and services of the shop are generated dynamically with javascript through a json file. We have also created a section dedicated to the cart where the user inserts the products and there is the calculation of the total.</p>
                                                </div>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/FlavioCir/BuildWeek-2" class="botton" target="_blank">View the code</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col col-lg-6 mb-3 mb-md-3 mb-sm-3 mb-lg-0 d-flex justify-content-center">
                                        <div class="card" style="width: 50rem;">
                                            <div class="card-header fw-semibold fs-5">Epicode Project - Calculator</div>
                                            <img src="../../../assets/img/calcolatrice.jpg" class="card-img-top rounded-0" alt="calculator">
                                            <div class="card-body">
                                                <p class="card-text">During the third week of Epicode, I acquired the basics of JavaScript that allowed me to create a very simple version of a calculator. I also included an AC key to delete numbers in addition to basic operations.</p>
                                                </div>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/FlavioCir/Esercizio-Settimana-3" class="botton" target="_blank">View the code</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-6 d-flex justify-content-center">
                                        <div class="card" style="width: 50rem;">
                                            <div class="card-header fw-semibold fs-5">Epicode Project - Memory Game</div>
                                            <img src="../../../assets/img/memory_game.jpg" class="card-img-top rounded-0" alt="memory_game">
                                            <div class="card-body">
                                                <p class="card-text">During my fifth week in Epicode, I developed a new version of the popular memory game. The goal of the game is to find two identical cards as quickly as possible, while a timer scrolls until the goal is reached. To make the game experience even more immersive, I added animations to card clicks and couples discovery moments.</p>
                                                </div>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/FlavioCir/Esercizio-Settimana-5" class="botton" target="_blank">View the code</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-lg-6 mb-3 mb-md-3 mb-sm-3 mb-lg-0 d-flex justify-content-center">
                                        <div class="card" style="width: 50rem;">
                                            <div class="card-header fw-semibold fs-5">Epicode Project - Week 1</div>
                                            <img src="../../../assets/img/test_settimana_1.jpg" class="card-img-top rounded-0" alt="test_week_1">
                                            <div class="card-body">
                                                <p class="card-text">During my first week at Epicode, I completed my first weekly project using the skills I learned about HTML and CSS. My creation consists of a very basic web page with only one button and working links.</p>
                                                </div>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/FlavioCir/Esercizio-Settimana-1" class="botton" target="_blank">View the code</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-6 d-flex justify-content-center">
                                        <div class="card" style="width: 50rem;">
                                            <div class="card-header fw-semibold fs-5">Epicode Project - Week 2</div>
                                            <img src="../../../assets/img/test_settimana_2.jpg" class="card-img-top rounded-0" alt="test_week_2">
                                            <div class="card-body">
                                                <p class="card-text">This is the second weekly project of Epicode, created exclusively using HTML and CSS. The website consists of three pages: a homepage, a 'Contacts' page and a 'About us' page. All pages are optimized to fit all devices, and the site includes a navbar with a hamburger menu.</p>
                                                </div>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/FlavioCir/Esercizio-Settimana-2" class="botton" target="_blank">View the code</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
