<div class="container-fluid">
    <div class="container d-flex justify-content-center align-items-center">
        <div id="ipad">
            <div id="carouselExampleFade" class="carousel slide carousel-fade align-self-center justify-self-center">
                <div class="carousel-indicators">
                    <div class="d-flex justify-content-center flex-column">
                        <p class="mb-0 imp">Click here to slide</p>
                        <p class="text-center arrow"><i class="bi bi-arrow-down-short"></i></p>
                        <div class="d-flex justify-content-center">
                            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        </div>
                    </div>
                </div>
                <div class="carousel-inner align-self-center justify-self-center">
                    <div class="carousel-item active" id="carosello1">
                        <div class="set d-flex flex-row mt-2">
                            <div class="wifi">
                                <p class="ms-3 text-white">iPad <i class="fa-sharp fa-solid fa-wifi text-white"></i></p>
                            </div>
                            <div class="d-flex flex-row">
                                <p class="text-white">80%</p>
                                <div class="buttery">
                                    <i class="fa-solid fa-battery-three-quarters text-white ms-1 me-3"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center unlock">
                            <i class="bi bi-unlock-fill"></i>
                        </div>
                        <div class="home">
                            <p id="hour"></p>
                        </div>
                        <div class="home">
                            <p id="data"></p>
                        </div>
                    </div>

                    <div class="carousel-item" id="carosello2">
                        <app-home-screen></app-home-screen>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
