<div class="container-fluid">
    <div class="container d-flex justify-content-center align-items-center">
        <div id="ipad">
            <div class="screen1">
                <div id="screen">
                    <div class="information">
                        <div class="ipad-top pt-3 d-flex flex-row justify-content-between">
                            <div class="exit">
                                <i class="fas fa-chevron-left ps-3 text-primary" [routerLink]="['/']" routerLinkActive="active"></i>
                            </div>
                            <div class="title">
                                <p class="text-white">
                                    Cutticulum Vitae
                                </p>
                            </div>
                            <div class="set">
                                <div class="wifi">
                                    <i class="fa-sharp fa-solid fa-wifi text-white pe-1"></i>
                                </div>
                                <p class="text-white">80%</p>
                                <div class="buttery">
                                    <i class="fa-solid fa-battery-three-quarters text-white ps-1 pe-3"></i>
                                </div>
                            </div>
                        </div>
                        <div class="description px-4 mt-4">
                            <h3>To download my CV:</h3>
                            <hr class="mt-4">
                            <p class="mt-4">
                                If you are interested in learning about my qualifications and experiences, please download my curriculum vitae via the "Download CV" button at the bottom of the page. Two versions are available, one in Italian and one in English, which offer a complete overview of my training and skills. The CV is available in PDF format for your convenience and the download will start automatically once you click the button. Thank you for your interest in my professional profile.
                            </p>
                            <div class="download d-flex justify-content-around">
                                <button type="button">
                                    <a href="../../../assets/cv/Flavio_Cirillo_English_CV.pdf" download="../../../assets/cv/Flavio_Cirillo_English_CV.pdf">download english cv</a>
                                </button>
                                <button type="button">
                                    <a href="../../../assets/cv/Flavio_Cirillo_Italian_CV.pdf" download="../../../assets/cv/Flavio_Cirillo_Italian_CV.pdf">download italian cv</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
